<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Meetings</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="#" class="logo">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
            </a>
            <a href="#" class="logo logo-small">
                <img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>

        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
    
        <input name="username" value="{{ user.username }}" hidden>

        <ul class="nav user-menu">
            
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle"
                                                src="/{{ user.profile_pic }}"
                                                width="31" alt="Ryan Taylor"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="/{{ user.profile_pic }}" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>{{ user.first_name }} &nbsp; {{ user.last_name }}</h6>
                            {% if user.user_type == '1' %}
                                <p class="text-muted mb-0">HOD</p>
                            {% elif user.user_type == '2' %}
                                <p class="text-muted mb-0">Leader</p>
                            {% else %}
                                <p class="text-muted mb-0">Student</p>
                            {% endif %}
                        </div>
                    </div>
                    <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                    <a class="dropdown-item" href="#">Inbox</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li>
                        <a href="{% url 'student_home' %}"><i class="fas fa-user-graduate"></i> <span> Dashboard</span></a>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i> <span> View Committee</span></a>
                    </li>
                   
                    <li>
                        <a href="#"><i class="fa fa-calendar"></i> <span> View all Meeting</span></a>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-bell"></i> <span> View Notifications</span></a>
                    </li>
                    
                    <li>
                        <a href="{% url 'logout' %}"><i class="fas fa-user-graduate"></i> <span> Logout</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="page-wrapper">


        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Upcoming Meetings</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active">Meetings</li>
                        </ul>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="success alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Venue</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Description</th>
                                        
                                        <th>Created at</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in meeting %}

                                    <tr>
                                        <td>{{ i.id }}</td>
                                        <td>{{ i.venue }}</td>
                                        <td>{{ i.meeting_date }}</td>
                                        <td>{{ i.meeting_time }}</td>
                                        <td>{{ i.meeting_description }}</td>
                                        
                                        <td>{{ i.created_at }}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>Copyright © 2024 Committee Portal</p>
        </footer>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>